@model JakAttack.ViewModels.Blog.DisplayPostViewModel

@{
    ViewBag.Title = String.Format("Blog - {0}", Html.Encode(Model.Title));
    ViewBag.SectionTitle = "blog";
}

@Html.Partial("_Article", Model)
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


