@model JakAttack.ViewModels.Blog.CreateOrModifyPostViewModel

@{
    ViewBag.Title = "Blog - Edit Post";
    ViewBag.SectionTitle = "blog";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_Form", Model)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
