@model IEnumerable<JakAttack.ViewModels.Blog.DisplayPostViewModel>

@{
    ViewBag.Title = "Blog";
    ViewBag.SectionTitle = "blog";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    @Html.Partial("_Article", item)
}


