html 
{
    margin:                   0px;
    padding:                  0px;
}
    
body 
{
    margin:       0px;
    padding:      0px;
    font-family:  Arial, Helvetica, sans-serif;
    color:        #555;
    overflow:     hidden;
}
    
div#title 
{
    position: absolute;
    top:      50px;
    left:     100px;
    z-index:  100;
}
    
nav 
{
    position:         fixed;
    bottom:           80px;
    background-color: rgba(0,0,0,0.7);
    color:            white;
    width:            100%;
    font-family:      Century Gothic, Arial, Helvetica, sans-serif;
}

nav > ul
{
    list-style-type:    none;
    margin:             0px;
    padding:            0px;
}

nav > ul > li 
{
    display:          inline-block;
    border:           none;
    cursor:           pointer;
    width:            100px;
    text-align:       center;
    vertical-align:   top;    /* Otherwise the hover seems to be vertically off by one pixel */
}
    
nav > ul > li:hover 
{
    background-color: rgba(255,255,255,0.9);
    color:            #222;
}
    
nav > ul > li > a 
{
    text-decoration:  none;
    font-size:        1.1em;
    line-height:      3em;
    padding:          0px 10px;
    display:          block;
}
        
nav > ul > li > a:visited 
{
    color:  inherit;
}

div#background
{
    position:   fixed;
    top:        -50%;
    left:       -50%;
    width:      200%;
    height:     200%;
    z-index:    -1;
}

div#background > img
{
    top:        0;
    left:       0;
    right:      0;
    bottom:     0;
    margin:     auto;
    min-width:  50%;
    min-height: 50%;
    position:   absolute;
}